.background {
  background: linear-gradient(to bottom, rgba(30,237,30,1) 0%,rgba(72,206,81,1) 40%,rgba(5,183,11,1) 100%);
  background-size: 1200% 1200%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &.yellow {
    background: linear-gradient(to bottom, #fff432 0%,#fcf22f 50%,#f9f100 100%);
  }

  &.red {
    background: linear-gradient(to bottom, rgba(247,32,32,1) 0%,rgba(244,88,88,1) 40%,rgba(214,6,6,1) 100%);
  }

  &.flash {
    visibility: hidden;
  }
}