/******************************************************************************
 * Abstract Page
*******************************************************************************/
.page {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    transition: opacity $base-duration $ease-cubic;

    &.is-reactive {
        opacity: 1;
        }
    &.is-inactive {
        opacity: 0;
        }
    }



/******************************************************************************
 * Defined Pages
*******************************************************************************/